body{
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size:cover;
  width: 500px;

}
.container{
display: inline-block;
width: 1300px;
height: 800px;
background: rgba(0, 0, 0, 0.6);
margin:50px;
border-radius: 20px;



}


#logo{
  display: block;
  margin: 0px auto;
  text-align: center;
  width: 200px;
  padding-top: 3%;

}

#title-text{
  font-weight: bolder;
  font-size: 28px;
  font-family: Century Gothic;
  text-align: center;
  color:#00ff3c

}

.search{
  margin: 0 200px;
  text-align: center;
  background-color: #00ff3c;
  padding: 1%;
}
.input1{
  background-color: white;
  margin-right: auto;
  padding: 4px 8px;
  display: inline-block;

}
.title{
  font-weight: bolder;
  font-family:Century Gothic;
  margin: auto;
  color: white;
  font-size: 25px;
  margin-top: 20px;
}

.text1{
  font-family: monospace;
  color: white;
  font-size: 15px;
}

.text2{
  font-family: monospace;
  color: white;
  font-size: 15px;
  width: 92%
}

.w3-orange{
  background-color: orange;
  width: 380px;
  height: 40px;
  display: block;
  border-radius: 10px;
}

.w3-green{
  background-color: green;
  width: 600px;
  height: 40px;
  display: block;
  border-radius: 10px;

}

.w3-red{
  background-color: red;
  width: 150px;
  height: 40px;
  display: block;
  border-radius: 10px;
}
main{
  padding: 0px 200px;
}
nav{
  padding-bottom: 30px;
}
